//- svg-sprite
mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/svg/sprite.svg#" + name)
//-/ svg-sprite



//- breadcrumb
mixin breadcrumb(...items)
	nav.breadcrumb
		-for (var i = 0; i < items.length - 1; i++)
			a.breadcrumb-item(href='#')= items[i]
		span.breadcrumb-item.active=  items[items.length - 1]
//- /breadcrumb

		
//- pugination
mixin pugin()
 
	.pagination-wrapper
		ul.page-numbers
			mixin li(n)
				li
					if block
						block
					else
						a.page-numbers(href='#')= n 
			+li()
				span.prev.page-numbers( )
					img(src="img/svg/prev.svg", alt="")
			+li()
				span.prev.page-numbers( )
					img(src="img/svg/prev-double.svg", alt="")
			+li()
				span.page-numbers.current  1
			+li("1")
			+li("2")
			+li("3")
			+li("4") 
			+li()
				a.next.page-numbers(href='#')
					img(src="img/svg/next.svg", alt="")
			+li()
				a.next.page-numbers(href='#')
					img(src="img/svg/next-double.svg", alt="") 
mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider
		
 

mixin pic( i,exp="jpg", bg, lazy="lazy", media='576px')
	- const smpath2 = "2x"
	- const smpath1 = "1x"
	mixin src(i, exp, path , lazy, source, bg)
		-const url= `img/@${path}/${i}.${exp}`
		-const ifLazy = (lazy== "lazy")
		-const src = ( ifLazy ? "#" : url)
		-const data = (ifLazy ?  url  : null)

		if source
			source( srcset=src data-srcset= data  type=`image/${exp}`   )&attributes(attributes)
		else
			img(src=src data-src=data, class=(bg=="bg" ? "object-fit-js": null ) alt="")&attributes(attributes)
	
	// picture
	picture( class= lazy)&attributes(attributes) 
		if media !== 0 
			each val in ["webp",exp] 
				each val2 in [smpath2,smpath1] 
					+src(i,val,`${val2 + (val ==  "webp" ? "/webp" : "") }`,lazy,"source")(media=(val2 == smpath2 ? "(min-width:"+ media+")" : null))
		else 
			+src(i,'webp',smpath2+`/webp`,lazy,"source")
			// /webp images  
		+src(i, exp,smpath2, lazy,"",bg) 
	// /picture
 
mixin jaw()
	+b.jaw-block.lazy-background
		+pic('jaw','png','','lazy',0)
		mixin number(t)
			+e.tooth-number(data-tooth-number= t)= t 
		mixin in(t) 
			+e.tooth-item(data-tooth-number= t)
		- const array = ["11","21","12","22","13","23","14","24","15","25","16","26","17","27","18","28","41","31","42","32","43","33","44","34","45","35","46","36","47","37","48","38"]
			div
				each val in array
					+in(val)
			div
				each val2 in array
					+number(val2)